.ClaimEsVwave input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.ClaimEsVwave label {
  display: block;
  margin-bottom: 0.8rem;
}

.ClaimEsVwave-content {
  padding: 4.65rem;
  padding-top: 1.5rem;
  max-width: 38.75rem;
}

.ClaimEsVwave-row {
  margin-bottom: 1.5rem;
}

.ClaimEsVwave button {
  margin-top: 0.8rem;
}

.ClaimEsVwave-vesting-options .Checkbox.btn-lg {
  font-size: 1.85rem;
  margin-bottom: 0.8rem;
  display: block;
  width: 35.65rem;
  padding-left: 1.85rem;
  padding-top: 0.465rem;
}

.ClaimEsVwave-vesting-options .Checkbox.btn-lg.selected.arbitrum {
  background: rgba(41, 160, 240, 0.2);
}

.ClaimEsVwave-vesting-options .Checkbox img {
  height: 1.5rem;
}

.ClaimEsVwave-option-label {
  display: inline-block;
  width: 27.9rem;
  text-align: center;
  opacity: 0.7;
}

.ClaimEsVwave-vesting-options .Checkbox.selected .ClaimEsVwave-option-label {
  opacity: 1;
}

.ClaimEsVwave-vesting-options .Checkbox.arbitrum .Checkbox-icon.active {
  color: #29a0f0;
}

.ClaimEsVwave button {
  max-width: 35.65rem;
}

.ClaimEsVwave-input-label {
  margin-bottom: 0.8rem;
}

.ClaimEsVwave input {
  width: 35.65rem;
}

.ClaimEsVwave-input-container {
  position: relative;
}

.ClaimEsVwave-max-button {
  position: absolute;
  padding: 0.465rem 0.8rem;
  background: linear-gradient(90deg, rgba(45, 66, 252, 1) 0%, rgba(46, 61, 205, 1) 100%);
  left: 29.75rem;
  top: 0.93rem;
  font-size: 1.4rem;
  border-radius: 3px;
  z-index: 1;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.ClaimEsVwave-max-button:hover {
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(90deg, rgba(58, 78, 252, 1) 0%, rgba(51, 68, 222, 1) 100%);
}
